.navbar {
  width: 100%;

  background: rgba(255, 255, 255, 0.75);

  backdrop-filter: blur(12px);

  position: sticky;

  top: 0;

  z-index: 1000;

  border-bottom: 1px solid var(--border);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 18px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;

  font-weight: 700;

  color: var(--primary);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 26px;
}

.nav-links {
  display: flex;

  gap: 32px;

  list-style: none;
}

.nav-links a {
  text-decoration: none;

  color: var(--text);

  transition: var(--transition);

  font-weight: 500;

  position: relative;

  text-decoration: none;

  color: var(--text);

  transition: 0.3s ease;

  font-weight: 500;
}

.nav-links a.active {
  color: var(--primary);
}

.nav-links a::after {
  content: "";

  position: absolute;

  left: 0;

  bottom: -6px;

  width: 0;

  height: 2px;

  background: var(--primary);

  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover {
  color: var(--primary);
}

.menu-icon {
  display: none;

  width: 42px;
  height: 42px;

  justify-content: center;
  align-items: center;

  font-size: 30px;
  color: var(--primary);

  cursor: pointer;
}

.theme-toggle {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: #eef4ff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all 0.3s ease;
}

.theme-toggle svg {
  font-size: 20px;
  color: var(--primary);
  transition: 0.3s;
}

.theme-toggle:hover {
  background: var(--primary);
  transform: rotate(15deg);
}

.theme-toggle:hover svg {
  color: white;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links a::after {
    content: none;
  }

  .nav-links a {
    display: block;

    padding: 14px 20px;

    border-radius: 12px;
  }

  .nav-links a:hover {
    background: #eef4ff;

    color: #2563eb;
  }

  .nav-links a.active {
    background: #2563eb;

    color: white;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;

    position: absolute;

    top: 100%;
    left: 0;

    width: 100%;

    background: #ffffff;

    padding: 25px;

    gap: 20px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

    z-index: 9999;
  }
  .theme-toggle {
    width: 42px;
    height: 42px;
  }
}
